<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sample static UI component</title>
  <link href="assets/css/custom.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body ng-app = "sampleui" ng-controller="messageCtlr">
  <script src="assets/js/jquery/dist/jquery.min.js"></script>
  <!-- <script>window.$ = window.jQuery = require('assets/js/jquery/dist/jquery.min.js');</script> -->
  <!-- Angular -->
  <script src="assets/js/angular/angular.min.js"></script>

  <script src="assets/js/app.js"></script>

  <script src="assets/js/controller/main.js"></script>
  <div class="container">
    <div class="topnav" id="myTopnav">
      <a href="#home" class="active">Home</a>
      <!-- <a href="#contact"><img style="width:30px;height:30px;" src="assets/img/msg.png"></img></a> -->
    </div>

    <div class="messaging" style="padding-top:0;">
      <button class="btn-float" ng-click="openMessages();" ng-hide="hideMsgBtn"><img style="width:30px;height:30px;" src="assets/img/msg.png"></img></button>
    </div>

<!-- sidebar messages list -->
    <div class="chat-sidebar" ng-hide="hideSideChatBar">
      <div class="chatheader"> <span style="float:right;color:#989494;" class="chevron bottom" ng-click="closeMessages();"></span></div>
      <div class="chat-list" id="chat-list">
        <div class="sidebar-name active-message">
          <a id="msg1" ng-click="readMessage();" href="">
            <img class="chat-img" width="40" height="40"
            src="https://i.pinimg.com/originals/fe/15/dd/fe15dd8f704c74612ebe52ee11a1d454.jpg" /> <span class="dot-pink"></span>
            <span class="message-body">Jenny Kim <br><small class="gray-text">Blackpink is the new revolution</small></span>
          </a>
        </div>
        <div class="sidebar-name">
          <a  id="msg2" ng-click="readMessage();" href="">
            <img class="chat-img" width="40" height="40"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTW9ytYmPkDw8zFnSNPn9sRVWzMllqH9Vfu2SFMxGf3n1qsLjsx" /> <span class="dot-green"></span>
            <span class="message-body">Lalisa Manoban <br><small class="gray-text">Blackpink in your Area!</small></span>
          </a>
        </div>
        <div class="sidebar-name">
          <a  id="msg3" ng-click="readMessage();" href="">
            <img class="chat-img" width="40" height="40"
            src="https://pbs.twimg.com/media/DZKUkjBWAAARMz0.jpg" />  <span class="dot-green"></span>
            <span class="message-body">Rose Lee <br><small class="gray-text">우리 사랑은 불장난</small></span>
          </a>
        </div>
        <div class="sidebar-name">
          <a  ng-click="readMessage();" href="">
            <img class="chat-img" width="40" height="40"
            src="https://i.pinimg.com/originals/f1/01/e3/f101e305eab277c72f33b53992b106ef.jpg" /> <span class="dot-orange"></span>
            <span class="message-body">Jisoo Kim <br><small class="gray-text">Keep up the good work!</small></span>
          </a>
        </div>
        <div class="sidebar-name">
          <a  ng-click="readMessage();" href="">
            <img class="chat-img" width="40" height="40"
            src="https://data.whicdn.com/images/267279570/superthumb.jpg?t=1479725949" /> <span class="dot-green"></span>
            <span class="message-body">Lee Tae Yong <br><small class="gray-text">To the world! This is NCT!</small></span>
          </a>
        </div>
        <div class="sidebar-name">
          <a  ng-click="readMessage();" href="">
            <img class="chat-img" width="40" height="40"
            src="https://i.pinimg.com/originals/fe/15/dd/fe15dd8f704c74612ebe52ee11a1d454.jpg" /> <span class="dot-green"></span>
            <span class="message-body">Jenny Kim <br><small class="gray-text">Blackpink is the revolution</small></span>
          </a>
        </div>
        <div class="sidebar-name">
          <a  ng-click="readMessage();" href="">
            <img class="chat-img" width="40" height="40"
            src="https://i.pinimg.com/originals/fe/15/dd/fe15dd8f704c74612ebe52ee11a1d454.jpg" /> <span class="dot-green"></span>
            <span class="message-body">Jenny Kim <br><small class="gray-text">Blackpink is the revolution</small></span>
          </a>
        </div>
        <div class="sidebar-name">
          <a  ng-click="readMessage();" href="">
            <img class="chat-img" width="40" height="40"
            src="https://i.pinimg.com/originals/fe/15/dd/fe15dd8f704c74612ebe52ee11a1d454.jpg" /> <span class="dot-green"></span>
            <span class="message-body">Jenny Kim <br><small class="gray-text">Blackpink is the revolution</small></span>
          </a>
        </div>
        <div class="sidebar-name">
          <a  ng-click="readMessage();" href="">
            <img class="chat-img" width="40" height="40"
            src="https://i.pinimg.com/originals/fe/15/dd/fe15dd8f704c74612ebe52ee11a1d454.jpg" /> <span class="dot-green"></span>
            <span class="message-body">Jenny Kim <br><small class="gray-text">Blackpink is the revolution</small></span>
          </a>
        </div>
        <div class="sidebar-name">
          <a  ng-click="readMessage();" href="">
            <img class="chat-img" width="40" height="40"
            src="https://i.pinimg.com/originals/fe/15/dd/fe15dd8f704c74612ebe52ee11a1d454.jpg" /> <span class="dot-green"></span>
            <span class="message-body">Jenny Kim <br><small class="gray-text">Blackpink is the revolution</small></span>
          </a>
        </div>
        <div class="sidebar-name">
          <a  ng-click="readMessage();" href="">
            <img class="chat-img" width="40" height="40"
            src="https://i.pinimg.com/originals/fe/15/dd/fe15dd8f704c74612ebe52ee11a1d454.jpg" /> <span class="dot-green"></span>
            <span class="message-body">Jenny Kim <br><small class="gray-text">Blackpink is the revolution</small></span>
          </a>
        </div>
        <div class="sidebar-name">
          <a  ng-click="readMessage();" href="">
            <img class="chat-img" width="40" height="40"
            src="https://i.pinimg.com/originals/fe/15/dd/fe15dd8f704c74612ebe52ee11a1d454.jpg" /> <span class="dot-green"></span>
            <span class="message-body">Jenny Kim <br><small class="gray-text">Blackpink is the revolution</small></span>
          </a>
        </div>
        <div class="sidebar-name">
          <a  ng-click="readMessage();" href="">
            <img class="chat-img" width="40" height="40"
            src="https://i.pinimg.com/originals/fe/15/dd/fe15dd8f704c74612ebe52ee11a1d454.jpg" /> <span class="dot-green"></span>
            <span class="message-body">Jenny Kim <br><small class="gray-text">Blackpink is the revolution</small></span>
          </a>
        </div>
        <div class="sidebar-name">
          <a  ng-click="readMessage();" href="">
            <img class="chat-img" width="40" height="40"
            src="https://i.pinimg.com/originals/fe/15/dd/fe15dd8f704c74612ebe52ee11a1d454.jpg" /> <span class="dot-green"></span>
            <span class="message-body">Jenny Kim <br><small class="gray-text">Blackpink is the revolution</small></span>
          </a>
        </div>
        <div class="sidebar-name">
          <a  ng-click="" href="">
            <img class="chat-img" width="40" height="40"
            src="https://i.pinimg.com/originals/fe/15/dd/fe15dd8f704c74612ebe52ee11a1d454.jpg" /> <span class="dot-green"></span>
            <span class="message-body">Jenny Kim <br><small class="gray-text">Blackpink is the revolution</small></span>
          </a>
        </div>
        <div class="sidebar-name">
          <a  ng-click="" href="">
            <img class="chat-img" width="40" height="40"
            src="https://i.pinimg.com/originals/fe/15/dd/fe15dd8f704c74612ebe52ee11a1d454.jpg" /> <span class="dot-green"></span>
            <span class="message-body">Jenny Kim <br><small class="gray-text">Blackpink is the revolution</small></span>
          </a>
        </div>
        <div class="sidebar-name">
          <a  ng-click="" href="">
            <img class="chat-img" width="40" height="40"
            src="https://i.pinimg.com/originals/fe/15/dd/fe15dd8f704c74612ebe52ee11a1d454.jpg" /> <span class="dot-green"></span>
            <span class="message-body">Jenny Kim <br><small class="gray-text">Blackpink is the revolution</small></span>
          </a>
        </div>
      </div>
    </div>

</body>
</html>
